/*
 * Globals
 */

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
  background: linear-gradient(45deg, #ff7e5f, #feb47b, #e06c4f, #43cea2, #185a9d, #ff512f, #dd2476, #1e3c72, #1a2980, #26d0ce, #feb47b, #ff7e5f);
  background-size: 400% 400%;
  animation: gradientShift 100s ease-in-out infinite;
  margin: 0;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Button Styles
 */

.btn-custom {
  color: white;
  border: 2px solid white;
  transition: background-color 0.3s, color 0.3s;
}

.btn-custom:hover {
  background-color: var(--averageBg);
  color: white;
}
